<!DOCTYPE html>
<html>

<head>

    <title>Page Pulse</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

<h1>Page Pulse</h1>

<input
id="url"
type="text"
placeholder="Enter website URL">

<button onclick="analyze()">
Analyze
</button>

<div id="result"></div>

</div>

<footer>

Built for Digital Heroes Training Task

<a href="https://digitalheroesco.com">

Digital Heroes

</a>

</footer>

<script src="/static/script.js"></script>

</body>

</html>